.about{
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:70px;
  padding:80px 8%;
}

/* IMAGE */

.about-image{
  flex:1;
  display:flex;
  justify-content:center;
  align-items:center;
}

.about-image::before{
  content:'';
  position:absolute;
  width:320px;
  height:320px;
  background:linear-gradient(135deg,#00f5d4,#00bbf9);
  border-radius:50%;
  filter:blur(80px);
  opacity:.25;
  animation:pulse 4s infinite;
}

.about-image img{
  width:360px;
  height:360px;
  object-fit:cover;
  border-radius:50%;
  border:6px solid rgba(255,255,255,.15);
  padding:8px;

  background:rgba(255,255,255,.05);
  backdrop-filter:blur(10px);

  box-shadow:
  0 0 25px rgba(0,245,212,.25),
  0 0 60px rgba(0,187,249,.15);

  animation:float 4s ease-in-out infinite;
}

/* CONTENT */

.about-content{
  flex:1;
}

.about-content h4{
  color:#00f5d4;
  font-size:22px;
  margin-bottom:12px;
}

.about-content h2{
  font-size:52px;
  line-height:1.2;
  margin-bottom:20px;
}

.about-content p{
  color:#cbd5e1;
  line-height:1.8;
  max-width:550px;
  margin-bottom:35px;
}

/* BOXES */

.about-boxes{
  display:flex;
  gap:18px;
  flex-wrap:wrap;
  margin-bottom:35px;
}

.box{
  padding:22px 28px;
  border-radius:20px;
  background:rgba(255,255,255,.06);
  border:1px solid rgba(255,255,255,.1);
  backdrop-filter:blur(12px);
  transition:.4s;
}

.box:hover{
  transform:translateY(-8px) scale(1.03);
  box-shadow:0 12px 25px rgba(0,245,212,.18);
}

.box h3{
  color:#00f5d4;
  font-size:30px;
  margin-bottom:6px;
}

.box span{
  color:#d1d5db;
}

/* BUTTON */

.about-btn{
  display:inline-block;
  text-decoration:none;
  color:#07111f;
  background:linear-gradient(135deg,#00f5d4,#00bbf9);
  padding:14px 32px;
  border-radius:40px;
  font-weight:600;
  transition:.4s;
}

.about-btn:hover{
  transform:translateY(-6px) scale(1.05);
}

/* ANIMATIONS */

@keyframes float{
  50%{
    transform:translateY(-18px);
  }
}

@keyframes pulse{
  50%{
    transform:scale(1.08);
  }
}

/* MOBILE */

@media(max-width:900px){

  .about{
    flex-direction:column;
    text-align:center;
    padding:60px 6%;
    gap:50px;
  }

  .about-content h2{
    font-size:36px;
  }

  .about-content p{
    max-width:100%;
  }

  .about-boxes{
    justify-content:center;
  }

  .image img,
  .about-image img{
    width:250px;
  }

  .about-image::before{
    width:240px;
    height:240px;
  }

}