

footer{
  width:100%;
  padding:22px 10px;
  text-align:center;

  background:rgba(255,255,255,0.05);
  backdrop-filter:blur(12px);

  border-top:1px solid rgba(255,255,255,0.08);

  margin-top:40px;
}

footer p{
  color:#cbd5e1;
  font-size:15px;
  letter-spacing:.5px;
}

/* MOBILE */

@media(max-width:768px){

  footer{
    padding:18px 8px;
  }

  footer p{
    font-size:13px;
  }

}